  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="pdfs">
          <% if comp.photo.attached? %>
            <%= cl_image_tag comp.photo.key, format: :jpg, crop: :fill, class: "w-100" %>
          <% end %>
        </div>
      </div>
      <button type="button" class="close-pdf" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
    </div>
  </div>
