<div class="container">
  <h1 class="text-center my-4 fs-1">Change data?</h1>
  <div class="col-12 col-md-6 row justify-content-center mx-auto pb-5">
    <%= render "form", trip: @trip %>
  </div>




  <%= link_to trip_path(@trip), class: "d-flex justify-content-end text-decoration-none mb-5 pb-5 me-3" do %>
      <i class="fa-regular fa-circle-left fs-1" id="back_button_edit"></i>
  <% end %>

</div>
