<div class="container">
  <h2 class="text-center my-4">Where to next?</h2>
  <div class="col-12 col-md-6 row justify-content-center mx-auto pb-5">
    <%= render "form", trip: @trip %>
  </div>
</div>
