
<div class="transportation_form">
  <%= link_to trip_path(@trip), class: "d-flex justify-content-start text-decoration-none" do %>
      <i class="fa-solid fa-arrow-left" id="back_button"></i>
  <% end %>
  <h1 class="text-center fs-1 py-4" id="transportation_ride">Add your ride</h1>


  <%= render "form_tra", transportation: @transportation, trip: @trip %>
</div>
<%# <%= f.input :transport_mode,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'transport_mode-wrapper',
            item_wrapper_class: 'transport_mode-item',
            input_html: {class: 'transport_mode-selector'},
            legend_tag: false,
            collection: Transportation::CATEGORIES %>
