// Import page-specific CSS files here.
@import "home";
@import "trips_index";
@import "new";



h1 {
  margin: 20px 30px 24px;
  color: #5A7684;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

h2 {
  margin: 25px 0px 0px 0px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 350;
}
