// Import page-specific CSS files here.
@import "home";
@import "trips_index";
@import "new";
@import "show";


h1 {
  color: #5A7684;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

h2 {
  color: #5A7684;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 350;
}
