.new {
  background-color: rgb(227, 225, 225);
}

.background_new{
  background-color: rgb(227, 225, 225);
  padding: 15% 10%;
}

.background_edit{
  background-color: rgb(227, 225, 225);
  padding: 15% 10%;
}
