.banner {
  background-size: cover;
  background-position: center;
  object-fit: contain;
  position: relative;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 35px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 20px;
}

.banner p {
  font-size: 15px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner h2 {
  font-size: 18px;
  color: white;
  opacity: .7;
  font-weight: 400;
  margin-top: 25px;
}

.trip-info h1 {
  text-shadow: 2px 2px 3px black;
}

.trip-info p {
  text-shadow: 2px 2px 3px black;
}


.trip-info {
  position: absolute;
  bottom: 70px;
  left: 25px;
  text-shadow: 2px 2px 3px black;
}

.edit-trip {
  text-align: right;
  position: relative;
  bottom: 55px;
  right: 15px;
  color: white;
  text-shadow: 2px 2px 3px black;
}

.edit-trip .fa-pen {
  border: solid white;
  border-radius: 50%;
  padding: 10px;
  opacity: 0.7;
}

.edit-trip a {
  text-decoration: none;
  color: white;
}

.banner-img {
  max-width: 414px;
  width: 100%;
  height: 339px;
}
