.footer {
  background: #2A324B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 20px 20px;
  color: rgba(0,0,0,0.3);
  // margin-top: 50px;
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: beige;
}
