.close-modal {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1000;
  border-radius: 50%;
  background-color: #5A7684;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.map-close,
.fa-arrows-up-down-left-right {
  font-size: 20px;
  color: white;
}

.modal-parent {
  position: relative;
}

.open-modal {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #5A7684;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
