  <div class="form-activities">
    <%= link_to trip_path(@trip), class: "d-flex justify-content-start text-decoration-none" do %>
      <i class="fa-solid fa-arrow-left" id="back_button"></i>
    <% end %>
    <h1 class="text-center fs-1 py-4" id="h1-color">Edit your activity</h1>

    <%= render "form_act", activity: @activity, trip: @trip %>

  </div>
